@model IEnumerable<TrashCollector2.Models.Pickup>
@using TrashCollector2.CustomHelpers

@{
    ViewBag.Title = "Pickup Status";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate.DayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PickupDate.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.PickupStatus(item.PickupStatus)
        </td>
        <td>
            @Html.VacationStatus(item.VacationStatus)
        </td>
        <td>
            @Html.ActionLink("Change Vacation Status", "ChangeVacationStatus", "Customers", new { id = item.Id }, null) |
            @Html.ActionLink("Edit", "EditPickup", "Customers", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "DropPickup", "Customers", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
