@model TrashCollector2.Models.Customers
@using TrashCollector2.CustomHelpers

@{
    ViewBag.Title = "Pickup Status";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!Model.OnVacation)
        {
        <dt>
            @Html.DisplayNameFor(model => model.IsTrashedPickedUp)
        </dt>

        <dd>
            @Html.PickupStatus(Model.IsTrashedPickedUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.OnVacation)
            </dt>
            <dd>
                @Html.VacationStatus(Model.OnVacation)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Return", "Index", "Home")
</p>
