@model IEnumerable<TrashCollector2.Models.Pickup>
@using TrashCollector2.CustomHelpers

@{
    ViewBag.Title = "Avaliable Pickups";
}

<h2>@ViewBag.Title</h2>
@foreach(var item in Model) { 
<h3>ZipCode: @item.ZipCode</h3>
    break;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate.DayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PickupDate.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.PickupStatus(item.PickupStatus)
        </td>
        <td>
            @Html.VacationStatus(item.VacationStatus)
        </td>

        @if (item.VacationStatus == false)
        {
        <td>
            @Html.ActionLink("View Order", "PickupOrder", new { id = item.Id }) |
            @Html.ActionLink("Change Pickup Status", "UpdatePickupStatus", new { id = item.Id }) |
            @Html.ActionLink("View Map", "MapView", new { id = item.Id })
        </td>
        }
    </tr>
}

</table>
