@model IEnumerable<TrashCollector2.Models.Pickup>
@using TrashCollector2.CustomHelpers

@{
    ViewBag.Title = "Daily Pickups";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.VacationStatus == false)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.PickupStatus(item.PickupStatus)
        </td>
        <td>
            @Html.VacationStatus(item.VacationStatus)
        </td>
        <td>
            @Html.ActionLink("View Customers In Zip Code", "CustomerList", new { zipcode = item.ZipCode }) |
            @Html.ActionLink("View Map","MapRoute", new { zipcode = item.ZipCode })
        </td>
    </tr>
    }
}

</table>
