@model TrashCollector2.Models.Pickup
@using TrashCollector2.CustomHelpers

@{
    ViewBag.Title = "Vacation Duration";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VacationStart)
        </dt>

        <dd>
            <h4>@Html.DisplayDate(Model.VacationStart)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VacationEnd)
        </dt>

        <dd>
            <h4>@Html.DisplayDate(Model.VacationEnd)</h4>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Return", "AvailablePickups", new { area = "" }, null)
</p>
